# system
.DS_Store
*.bak
*.swp
*.tmp
*~
desktop.ini
thumbs.db

# helm
/helm-charts/*.tgz
/terraform-submodules/*/charts/*.tgz
/terraform-submodules/*/tmpcharts*
/third_party/helm/charts/*.tgz
/third_party/helm/tmpcharts*

# terraform
/terraform-*/**/.terraform
/terraform-*/**/.terraform.tfstate.lock.info
/terraform-*/**/errored.tfstate
/terraform-*/**/terraform.tfstate
/terraform-*/**/terraform.tfstate.backup
/terraform-*/**/terraform.tfvars
/terraform-*/**/terraform.tfvars.json
/terraform-submodules/*.zip
/terraform-submodules/**/.terraform.lock.hcl
