*debug*

# system
.DS_Store
*.bak
*.swp
*.tmp
*~
desktop.ini
thumbs.db

# helm
/scopes/*/helm-charts/*.tgz
/third_party/helm/charts/*.tgz
/third_party/helm/tmpcharts*

# terraform
/scopes/*/terraform-*/*/.terraform
/scopes/*/terraform-*/*/*tfstate*
/scopes/*/terraform-*/*/*tfvars*
/scopes/*/terraform-submodules/*.zip
/scopes/*/terraform-submodules/*/.terraform.lock.hcl
