loki:
  auth_enabled: false

  # https://grafana.com/docs/loki/latest/operations/storage/schema/
  schemaConfig:
    configs:
      - from: 1970-01-01
        object_store: s3
        store: tsdb
        schema: v13
        index:
          prefix: index_
          period: 24h

minio:
  enabled: true
  persistence:
    size: 10Gi
# TODO
# lokicanary=false
# terraform-submodules/k8s-lgtm-stack/charts/loki/single-binary-values.yaml
# gcs
