serviceAccount:
  create: false
  name: "${loki_service_account_name}"

loki:
  auth_enabled: false

  # storage_config:
  #   gcs:
  #     bucket_name: "${loki_bucket_name}"
  # storage:
  #   type: gcs
  #   gcs: {}
  #   bucketNames:
  #     chunks: "${loki_bucket_name}"
  #     ruler: "${loki_bucket_name}"
  #     admin: "${loki_bucket_name}"

minio:
  enabled: true
