collector:
  mode: deployment
  configEnvs:
    CLICKHOUSE_ENDPOINT: "${clickhouse_endpoint}"
    CLICKHOUSE_USER: clickhouse
    CLICKHOUSE_DB: opentelemetry
  secretConfigEnvs:
    CLICKHOUSE_PASSWORD: Secret123
  logsReceivers: [otlp]
  metricsReceivers: [otlp]
  tracesReceivers: [otlp]
