serviceAccount:
  create: false
  name: "${mimir_service_account_name}"

mimir:
  {}
  # structuredConfig:
  #   common:
  #     storage:
  #       backend: gcs
  #       gcs:
  #         bucket_name: "${mimir_bucket_name}"

minio:
  enabled: true
